# for streamlit cloude put pip in requirements.txt
pip==25.2
langchain==0.3.27
langchain_community==0.3.27
langchain_groq==0.3.6
langchain_huggingface==0.3.1
chromadb==1.0.15
streamlit==1.47.1
pandas==2.3.1
python-dotenv==1.1.1
sentence-transformers==5.0.0
langfuse==3.2.3
-e . # Editable install for local development
# This line allows for local development with the package in editable mode.


